# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
swm_dpcpp
SWM_*

# Large Output Files
swm_init.*.csv
swm_end.*.csv

# Build files
gcc_omp_serial_skx/*
gcc_serial_skx/*
nvcc_cuda_omp_serial_volta70_skx/*

# VS Code meta files
.vscode/*
