# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Python checkpoints
.ipynb_checkpoints

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
swm_dpcpp_buf
swm_dpcpp_usm
swm_cpp
swm_acc_omp
test*
build/*

# Output files
*.csv

# Job Submission
*.sh.e*
*.sh.o*

# Profiling
vtune_data/*

